
.checkbox__button-fake{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #777777;
    background-color: #ffffff;
}

.checkbox__button-real:checked + .checkbox__button-fake{
    background-color: #FFE074;
}

.checkbox__button-real:checked + .checkbox__button-fake::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    background-image: url('../../../images/icons/check.svg');
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
}
