.main_type_card-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 599px) {
    .main_type_card-holder{
        justify-content: center;
    }
}